git+https://gitfront.io/r/GRUNECO/wdwHTYJe8bbz/sovachronux.git
git+https://gitfront.io/r/GRUNECO/db7qFm7z89d4/sovawica.git
git+https://gitfront.io/r/GRUNECO/pD1ut9JRPFNw/sovareject.git
git+https://gitfront.io/r/GRUNECO/xiGpXFpQvM2T/sovaflow.git
git+https://gitfront.io/r/GRUNECO/Vyo9MVr7QNTZ/violinplot.git
pybids
seaborn
statsmodels
https://api.github.com/repos/mne-tools/mne-bids/zipball/main
versioneer
-e .
