astor==0.8.1
astropy==7.0.0
astropy-iers-data==0.2024.11.25.0.34.48
attrs==24.2.0
bids==0.0
bids-validator==1.14.7.post0
bidsschematools==0.11.3.post3
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
contourpy==1.3.1
cycler==0.12.1
decorator==5.1.1
dnspython==2.7.0
docopt==0.6.2
fonttools==4.55.0
formulaic==0.5.2
fsspec==2024.10.0
greenlet==3.1.1
idna==3.10
importlib_resources==6.4.5
interface-meta==1.3.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.7
lazy_loader==0.4
MarkupSafe==3.0.2
matplotlib==3.9.3
mne==1.8.0
mne-bids==0.16.0
nibabel==5.3.2
num2words==0.5.13
numpy==2.1.3
packaging==24.2
pandas==2.2.3
patsy==1.0.1
pillow==11.0.0
platformdirs==4.3.6
pooch==1.8.2
psutil==6.1.0
pyarrow==18.1.0
pybids==0.17.2
pyerfa==2.0.1.5
pymongo==4.10.1
pyparsing==3.2.0
pyprep==0.4.3
python-dateutil==2.9.0.post0
pytictoc==1.5.3
pytz==2024.2
PyWavelets==1.7.0
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
rpds-py==0.21.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
six==1.16.0
sovachronux @ git+https://github.com/GRUNECO/sovachronux.git@7f99faa759a371be1ab0068576df449ab131ede9
sovaflow @ git+https://github.com/GRUNECO/sovaflow.git@ff0c3e676849aa4a220e23ec57a63ff15f8ca602
git+https://github.com/GRUNECO/eeg_harmonization.git@444ea6755b78a8428ac8534a5e721e52698f5513#egg=sovaharmony
sovareject @ git+https://github.com/GRUNECO/sovareject.git@1791565d5eb32d314b34a61ab71ebe194f4c9b6a
sovawica @ git+https://gitfront.io/r/yjmantilla/e26e54b1952da01b4529449b6370ba0e5e608f78/sovawica.git@c37a190ac7a17d1fc4ed6eb923fda7b7e36faf54
SQLAlchemy==2.0.36
statsmodels==0.14.4
threadpoolctl==3.5.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
universal_pathlib==0.2.5
urllib3==2.2.3
versioneer==0.29
wrapt==1.17.0
