git+https://gitfront.io/r/yjmantilla/07df94e1fa2fdc3d7e5a049ad49874ca4a5071f7/sovachronux.git
git+https://gitfront.io/r/yjmantilla/e26e54b1952da01b4529449b6370ba0e5e608f78/sovawica.git
git+https://gitfront.io/r/yjmantilla/5c5817890b14af2e5ae8ae9ba3f14522c337522e/sovareject.git
git+https://gitfront.io/r/yjmantilla/6d58684c0822a9bac57ed5ea04ef0b0c306b75da/sovaflow.git
pybids
https://api.github.com/repos/mne-tools/mne-bids/zipball/main
versioneer
-e .